@import 'tailwindcss';

@config "../../../tailwind.config.ts";

@layer base {
  * {
    box-sizing: border-box;
  }

  html {
    font-size: calc(100vw / 23.4375);

    @media (min-width: 1024px) {
      font-size: calc(100vw / 90);
    }

    *:focus {
      outline: none;
    }
  }

  body {
    overscroll-behavior-y: none;
    min-width: 0;
    width: 100%;
    background-color: hsl(var(--heroui-background));
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    color: var(--font-color-primary);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  img,
  video {
    display: block;
    max-width: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  p {
    margin: 0;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  button,
  input {
    font-family: inherit;
    font-size: 1.6rem;
    color: inherit;
  }

  input {
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-background-clip: text !important;
      -webkit-text-fill-color: var(--font-color-primary) !important;
      -webkit-box-shadow: 0 0 0 100px rgba(255, 255, 255, 0) inset !important;
      background-color: hsl(var(--heroui-background)) !important;
      font-family: inherit !important;
      transition:
        background-color 600000s ease-in-out 0s,
        color 600000s ease-in-out 0s !important;
    }
  }

  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  ::-webkit-scrollbar-track {
    margin: 0;
    background-color: var(--scrollbar-track-color);
    border-radius: 0;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
    border: 2px solid var(--scrollbar-track-color);
    border-radius: 1rem;
  }
}
